.rsvp {
    background-color: #f7f7f7;
    padding: 50px;
    text-align: center;
  }
  
  .btn-rsvp {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn-rsvp:hover {
    background-color: #0056b3;
  }
  