.header {
    background: url('../images/banner.JPG') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .header h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .header p {
    font-size: 1.2rem;
  }
  