.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif; /* Fallback font */
}

h1, h2 {
  font-family: 'Sacramento', cursive;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}
